#grid {
    display:flex;
    width: 640px;
    height: 640px;
    flex-wrap:wrap;
    flex-shrink: 0;
    margin: 0 auto;
}
.pixel {
    border: 1px solid gray;
    width:40px;
    height:40px;
    box-sizing:border-box;
    border-radius: 3px;
}
#reset,#rgb {
    padding:10px;
    background-color:black;
    color:aliceblue;
    border-radius: 8px;
}
#reset:hover, #rgb:hover{
    background-color: white;
    color:black;
    border-color: white;
}
#reset {
    margin-bottom: 10px;
}
body {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}
ul {
    list-style-type:none;
    margin: 0 auto;
    padding:0;
    margin-bottom: 8vh;
    margin-top: 5vh;
}
#grid {
    border: 8px solid black;
    border-bottom: 48px solid black;
    border-radius: 1.5em;
}
h1 {
    margin: 0 auto;
}